<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="openstat-verification" content="7920cb39b24c1a82810a8843cf34d93e7b5a738e" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="http://dummer.github.io">Dummer.github.io</a></h1>
        <a href="https://github.com/dummer" class="button"><small>Follow me on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <h3>Public Repositories:</h3>
          <ul class="list-unstyled">
            {% for repo in site.github.public_repositories %}
              <li><a href="{{ repo.html_url }}">{{ repo.name }}</a></li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>

    <footer>
      <p>This blog uses the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
    </footer>

    <!--Openstat-->
<span id="openstat1"></span>
<script type="text/javascript">
var openstat = { counter: 1, next: openstat };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
<!--/Openstat-->
  </body>
</html>